<ion-header>
  <ion-toolbar class="fancy-header">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="cadastro-content">
  <div class="cadastro-container">

    <!-- Logo -->
    <img src="assets/logo-2.png" alt="Logo" class="logo" />

    <!-- Título -->
    <h2>Crie sua conta</h2>
    

    <!-- Formulário -->
    <form [formGroup]="cadastroForm" (ngSubmit)="cadastrar()">

      <ion-item>
        <ion-input
          type="email"
          formControlName="email"
          placeholder="Digite seu e-mail">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          type="password"
          formControlName="senha"
          placeholder="Digite sua senha">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          type="password"
          formControlName="confirmarSenha"
          placeholder="Confirme sua senha">
        </ion-input>
      </ion-item>

      <ion-button expand="block" type="submit">Cadastrar</ion-button>

      <p class="mensagem" [style.color]="mensagemCor">{{ mensagem }}</p>

      <div class="extra-links">
        <a routerLink="/login">Já tem uma conta? Entrar</a>
      </div>

    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer-bar">
    <ion-title class="footer-text">
      © 2025 App Entre-nós. Todos os direitos reservados.
    </ion-title>
  </ion-toolbar>
</ion-footer>
