<ion-header *ngIf="!linkHomenagem">
  <ion-toolbar class="fancy-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="preview-card-content ion-padding">
  <!-- FORMULÁRIO: só aparece se não for link -->
  <div *ngIf="!linkHomenagem">
    <ion-item>
      <ion-label position="floating">Título</ion-label>
      <ion-input [(ngModel)]="titulo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Mensagem</ion-label>
      <ion-input [(ngModel)]="mensagem"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Imagem (URL)</ion-label>
      <ion-input [(ngModel)]="imagemUrl"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Spotify (URL)</ion-label>
      <ion-input [(ngModel)]="spotifyUrl" (ionChange)="atualizarSpotify()"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="gerarLinkHomenagem()" class="ion-margin-top download-button">
      Salvar Homenagem
    </ion-button>



    <p *ngIf="linkHomenagem" class="ion-margin-top">
      Link da Homenagem: <a [href]="linkHomenagem" target="_blank">{{ linkHomenagem }}</a>
    </p>
  </div>

  <!-- PREVIEW DA HOMENAGEM: aparece sempre -->
  <ion-card #previewCard class="preview-card-box ion-margin-top">
    <ion-card-header>
      <ion-card-title>{{ titulo || 'Título da Homenagem' }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ mensagem || 'Mensagem da homenagem aparecerá aqui' }}</p>
      <img *ngIf="imagemUrl" [src]="imagemUrl" alt="Imagem da homenagem" />
      <iframe *ngIf="sanitizedSpotifyUrl" class="spotify-iframe" [src]="sanitizedSpotifyUrl"></iframe>
    </ion-card-content>
  </ion-card>
</ion-content>
