.user-box {
  text-align: center;
  padding: 20px 0;
}

.initial-avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: var(--ion-color-primary);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 auto 15px;
}

ion-list ion-item {
  font-weight: 500;
  color: #065f46;
}