<ion-app>
  <!-- MENU LATERAL -->
  <ion-menu side="start" menuId="main-menu" contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>

        <ion-item routerLink="/menu-layout/listar-homenagem" routerDirection="root">
          Minhas Homenagens
        </ion-item>

        <ion-item routerLink="/menu-layout/homenagens">
          Lista de Homenagens
        </ion-item>

        <ion-item routerLink="/menu-layout/planos">
          Planos
        </ion-item>

        <ion-item routerLink="/menu-layout/escolher-homenagem">
          Escolher Homenagem
        </ion-item>

        <ion-item routerLink="/menu-layout/previa-card">
          Personalização
        </ion-item>

        <ion-item routerLink="/menu-layout/politica-privacidade">
          Política de Privacidade
        </ion-item>

        <ion-item (click)="logout()">
          Encerrar Sessão
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- CONTEÚDO PRINCIPAL QUE CARREGA AS SUBROTAS -->
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
