.homenagem-content {
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;

  .content-container {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }

  .search-bar {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    width: 100%;

    ion-input {
      flex: 1;
      max-width: 300px;
      height: 35px;
      border-radius: 8px;
      padding: 0 14px;
      border: 1px solid #d1c4e9;
      font-size: 14px;
    }

    ion-button {
      flex: 0 0 auto;
      width: 80px;
      height: 35px;
      --background: #7a3ef3;
      --color: #fff;
      border-radius: 8px;
      font-size: 13px;
      padding: 0;
    }
  }

  .homenagens-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;

    .card {
      background: #fff;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      padding: 15px;
      text-align: center;
      width: 100%;

      img {
        width: 100%;
        border-radius: 12px;
        margin-bottom: 10px;
      }

      h3 {
        color: #7a3ef3;
        margin: 10px 0 5px;
      }

      p {
        color: #555;
        font-size: 14px;
        margin-bottom: 10px;
      }

      ion-button {
        --background: #7a3ef3;
        --color: #fff;
        font-weight: bold;
        border-radius: 8px;
        font-size: 13px;
        padding: 6px 12px;
      }
    }
  }
}
.fancy-header {
  --background: linear-gradient(135deg, #7a3ef3, #7e23b6);
  height: 60px;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.footer-text {
  font-size: 7.5px;
  text-align: center;
  color: #fff;
}
 ion-input {
  --highlight-color-valid: black;  

}