// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-roxo: #800080;
  --ion-color-roxo-rgb: 128, 0, 128;
  --ion-color-roxo-contrast: #ffffff;
  --ion-color-roxo-contrast-rgb: 255, 255, 255;
  --ion-color-roxo-shade: #6e006e;
  --ion-color-roxo-tint: #993399;
}
 :root {
  --ion-background-color: #f2f2f2;
  --ion-text-color: #2e3a46;
  --ion-color-primary: #557a95;
  --ion-color-primary-rgb: 85, 122, 149;
  --ion-color-secondary: #aab7bf;
  --ion-color-light: #ffffff;
  --ion-color-medium: #5a6b7d;
  --ion-color-dark: #2e3a46;
}
