.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  --background: #f5f5f5;
}

.login-container {
  width: 100%;
  max-width: 400px;
  text-align: center;
  padding: 20px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.logo {
  width: 100px;
  margin-bottom: 20px;
}

h2 {
  margin: 10px 0 5px;
  color: #800080;
}

p {
  color: #666;
  font-size: 14px;
  margin-bottom: 20px;
}

ion-item {
  margin-bottom: 15px;
  border-radius: 8px;
}

.extra-links {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.extra-links a {
  color: #800080;
  text-decoration: none;
}
 .footer-text {
  font-size: 7.5px; /* Tamanho menor */
  text-align: center; /* Centraliza o texto */
  color: #fff; /* Se quiser deixar branco */
 } 


