/* ===== Login Page Styling ===== */
.login-content {
  display: flex;
  justify-content: center; 
  align-items: center;     
  text-align: center;
  height: 100vh;
  --background: linear-gradient(to bottom, #F8F6F2, #265C63);
  font-family: 'Helvetica Neue', sans-serif;
}

.login-container {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background: #FFFFFF;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.logo {
  width: 120px;
  margin-bottom: 10px;
}

h2 {
  margin: 10px 0 5px;
  color:  #035e56;
  font-weight: bold;
}

p {
  color: #2F6F77; 
  font-size: 14px;
  margin-bottom: 10px;
}

ion-item {
  margin-bottom: 15px;
  border-radius: 8px;
  --background: #F8F6F2; 
  --color: #265C63;
}

ion-input::part(native) {
  color: #265C63;
}

ion-button {
  --background:  #006e60; 
  --color: #FFFFFF;
  font-weight: bold;
  border-radius: 12px;
  width: 100%;

}

ion-button[fill="outline"] {
  --border-color: #035e56;
  --color: #035e56;
  --background: transparent;
}

.mensagem {
  font-size: 14px;
  color: #2F6F77;
}

.extra-links {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 13px;
}

.extra-links a {
  color: #265C63;
  text-decoration: none;
  font-weight: bold;
}

/* Header (igual ao home) */
.fancy-header {
  --background: linear-gradient(135deg,#02a0b4, #02705e); 
  height: 60px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  color: #FFFFFF;
}

/* Footer com mesmo estilo */
.footer-bar {
  --background: #F8F6F2;
  --color: #265C63;
  text-align: center;
}

.footer-text {
  font-size: 10px;
  color: #265C63;
}
