.login-content {
  display: center;
  justify-content: center;
  align-items: center;
  --background: #f8f6ff; /* fundo lilás bem claro */
}

.login-container {
  width: 100%;
  max-width: 380px;
  text-align: center;
  padding: 25px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.logo {
  width: 100px;
  margin-bottom: 20px;
}

h2 {
  margin: 10px 0 5px;
  color: #4b0082;
}

p {
  color: #666;
  font-size: 14px;
  margin-bottom: 20px;
}

ion-item {
  margin-bottom: 15px;
  border-radius: 8px;
}

ion-button {
  --background: #7a3ef3;
  --color: #fff;
  font-weight: bold;
  border-radius: 12px;
  margin-top: 10px;
}

.mensagem {
  font-size: 14px;
  margin-top: 10px;
}

.extra-links {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.extra-links a {
  color: #7a3ef3;
  text-decoration: none;
}

.fancy-header {
  --background: linear-gradient(135deg, #7a3ef3, #7e23b6);
  height: 60px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.footer-text {
  font-size: 10px;
  text-align: center;
  color: #fff;
}
  ion-label {
    font-weight: 600;
    color: #555;
    transform: translateY(10px);
  }

  ion-input {
    --color: #333;
    font-size: 1.1em;
    font-weight: 400;
    padding-top: 10px !important;
  }

.password-toggle-button {
  --padding-end: 0;
  --padding-start: 0;
}

.password-toggle-icon {
  color: var(--ion-color-peach-light);
  font-size: 1.2em;
  opacity: 0.8;
}

.forgot-password-link {
  text-align: right;
  margin-bottom: 40px;

  a {
    color: var(--ion-color-peach);
    font-weight: 500;
    text-decoration: none;
    font-size: 0.9em;
  }
}

.button-grid {
  margin-top: 50px;
}

.sign-up-button {
  background: transparent;
  border-color: var(--ion-color-peach-light);
  color: var(--ion-color-peach);
  border-radius: 30px;
  border-width: 2px;
  height: 50px;
  font-weight: 600;
  margin-right: 5px;
}

.sign-in-button {
  background: linear-gradient(to right, var(--ion-color-peach-light), var(--ion-color-peach));
  color: #fff;
  border-radius: 30px;
  height: 50px;
  font-weight: 600;
  box-shadow: 0 5px 15px rgba(214, 80, 255, 0.3);
  margin-left: 5px;
}

.custom-footer {
  ion-toolbar {
    --background: transparent;
    padding: 0 20px;
    --border-width: 0;
  }

  .footer-text {
    font-size: 0.75em;
    text-align: center;
    color: #aaa;
    padding: 10px 0;
  }

}
