<ion-header>
  <ion-toolbar class="fancy-header">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="cadastro-content">
  <div class="cadastro-container">
    <!-- Logo -->
    <img src="assets/logo.png" alt="Logo" class="logo" />

    <!-- Título -->
    <h2>Crie sua conta</h2>
    <p>Preencha os campos abaixo</p>

    <!-- Formulário -->
    <form [formGroup]="cadastroForm" (ngSubmit)="cadastrar()">

      <ion-item fill="solid">
        <ion-input
          type="email"
          formControlName="email"
          placeholder="Digite seu e-mail"
          labelPlacement="floating">
        </ion-input>
      </ion-item>

      <ion-item fill="solid">
        <ion-input
          type="password"
          formControlName="senha"
          placeholder="Digite sua senha"
          labelPlacement="floating">
        </ion-input>
      </ion-item>

      <ion-item fill="solid">
        <ion-input
          type="password"
          formControlName="confirmarSenha"
          placeholder="Confirme sua senha"
          labelPlacement="floating">
        </ion-input>
      </ion-item>

      <ion-button expand="block" type="submit">Cadastrar</ion-button>

      <p class="mensagem" [style.color]="mensagemCor">{{ mensagem }}</p>

      <div class="extra-links">
        <a routerLink="/login">Já tem uma conta? Entrar</a>
      </div>
    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="tertiary">
    <ion-title class="footer-text">
      © 2025 App Entre-nós. Todos os direitos reservados.
    </ion-title>
  </ion-toolbar>
</ion-footer>
