<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Criar Conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content">

  <div class="login-container">
    <!-- Logo -->
    <img src="assets/logo.png" alt="Logo" class="logo" />
    

    <!-- Formulário de Cadastro -->
    <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">

      <ion-item fill="solid">
        <ion-input 
          type="text" 
          formControlName="nome" 
          placeholder="Digite seu nome completo">
        </ion-input>
      </ion-item>

      <ion-item fill="solid">
        <ion-input 
          type="email" 
          formControlName="email" 
          placeholder="Digite seu e-mail">
        </ion-input>
      </ion-item>

      <ion-item fill="solid">
        <ion-input 
          type="tel" 
          formControlName="telefone" 
          placeholder="Digite seu telefone">
        </ion-input>
      </ion-item>

      <ion-item fill="solid">
        <ion-input 
          type="password" 
          formControlName="senha" 
          placeholder="Digite sua senha">
        </ion-input>
      </ion-item>

      <ion-item fill="solid">
        <ion-input 
          type="password" 
          formControlName="confirmaSenha" 
          placeholder="Confirme sua senha">
        </ion-input>
      </ion-item>

      <!-- Erro de senha -->
      <p *ngIf="cadastroForm.hasError('notMatching') && cadastroForm.touched" style="color: #c00; margin: 8px 0;">
        As senhas não conferem.
      </p>
       <ion-button expand="block" type="submit">
        cadastrar
      </ion-button>

      <div class="extra-links">
        <a></a>
      </div>
    </form>
  </div>

</ion-content>

<!-- Footer -->
<ion-footer>
  <ion-toolbar color="tertiary">
    <ion-title class="footer-text">
      © 2025 App Entre-nós. Todos os direitos reservados.
    </ion-title>
  </ion-toolbar>
</ion-footer>
