<ion-header>
  <ion-toolbar class="fancy-header">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="welcome-page ion-padding">
  <div id="container">
    <!-- Logo -->
    <img src="assets/logo-2.png" alt="Logo" class="logo" />

    <!-- Textos -->
    <div class="welcome-section">
      <h1 class="welcome-title">Seja Bem-vindo(a)</h1>
      <p class="welcome-subtitle">Eternize as suas memórias conosco</p>

      <!-- Botões -->
      <div class="button-group">
        <ion-button routerLink="/cadastro" expand="block">Cadastro</ion-button>
        <ion-button routerLink="/login" expand="block" fill="outline" color="primary">Login</ion-button>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer-bar">
    <ion-title class="footer-text">
      © 2025 App Entre-nós. Todos os direitos reservados.
    </ion-title>
  </ion-toolbar>
</ion-footer>

