#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #f2eef3;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.welcome-page {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 100vh; /* Faz o conteúdo ocupar a altura total da tela */

  #container {
    width: 100%;
    max-width: 100%; /* Limita a largura máxima do container */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente tudo dentro do container */
    justify-content: center;

    .logo {
      width: 150px; /* Ajuste da logo */
      max-width: 100%;
      margin-bottom: 50px; /* Espaço entre a logo e os textos/botões */
    }

    .welcome-title {
      font-size: 28px; /* Tamanho maior para o título */
      font-weight: bold;
      color: #333;
      margin-bottom: 10px; /* Espaço menor acima dos botões */
    }

    .welcome-subtitle {
      font-size: 16px; /* Texto menor */
      color: #666;
      margin-bottom: 60px; /* Espaço entre texto e botões */
    }

    .button-group {
      display: flex;
      justify-content: center;
      gap: 50px; /* Espaçamento entre os botões */
      margin-top: 0; /* Remove o grande espaçamento anterior */

      ion-button {
        flex: none; /* Remove o crescimento automático */
        width: 120px; /* Largura fixa ou mínima desejada */
        --background: #7a3ef3; 
        --color: #dbdbdb; 
        font-weight: bold;
        border-radius: 10px;
      }
     

    }
  }
}

.fancy-header {
  --background: linear-gradient(135deg, #7a3ef3, #7e23b6); /* Gradiente roxo */
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Sombra suave */

  
}
.footer-text {
  font-size: 7.5px; /* Tamanho menor */
  text-align: center; /* Centraliza o texto */
  color: #fff; /* Se quiser deixar branco */
}


