.welcome-page {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to bottom, #F8F6F2, #265C63); 
  height: 100vh;

  #container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .logo {
      width: 140px;
      margin-bottom: 40px;
    }

    .welcome-title {
      font-size: 28px;
      font-weight: bold;
      color:  #006e60; 
      margin-bottom: 10px;
    }

    .welcome-subtitle {
      font-size: 16px;
      color: #006e60; 
      margin-bottom: 50px;
    }

    .button-group {
      display: flex;
      justify-content: center;
      gap: 20px;

      ion-button {
        --background: #035e56; 
        --color: #FFFFFF;
        font-weight: bold;
        border-radius: 12px;
        width: 120px;
      }

      ion-button[color="primary"][fill="outline"] {
        --border-color: #006e60;
        --color: #ffffff;
        --background: transparent;
      }
    }
  }
}
 
.fancy-header {
  --background: linear-gradient(135deg, #02a0b4, #02705e);
  height: 60px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}
.footer-bar {
  --background:#015964; 
  --color: #06ac74;      
}

.footer-text {
  font-size: 7px;
  color: #cfe5e7;
}
