<ion-header class="header-fixo">
  <ion-toolbar class="fancy-header"></ion-toolbar>
</ion-header>


<ion-content class="plano-content" fullscreen>

  <!-- Título da página fora do header -->
  <div class="page-title-container">
    <h1>Escolha o seu plano ideal</h1>
  </div>

  <!-- Grid de planos -->
  <div class="plano-grid">
    <ion-card class="card-plano-estilizado">
      <ion-card-header>
        <ion-card-title>Plano Básico</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Conforme usar</p>
        <ion-note>R$ 14,90</ion-note>
        <ion-button expand="block" class="btn-lilas">Assinar</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card class="card-plano-estilizado">
      <ion-card-header>
        <ion-card-title>Plano Premium</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Uso Mensal</p>
        <ion-note>R$ 24,90</ion-note>
        <ion-button expand="block" class="btn-rosa">Assinar</ion-button>
      </ion-card-content>
      
    </ion-card>
  </div>
  

</ion-content>
<ion-footer class="footer-fixo">
  <ion-toolbar>
    <p>© 2025 App Entre-nós. Todos os direitos reservados.</p>
  </ion-toolbar>
</ion-footer>


